<!-- SECTION 1 -->
<section id="home">


    <!-- TEXTO EXIBIDO NA SECTION 1 - CARD 1 -->
    <div class="info_text borda">
        <!-- Nome e descrição -->
        <div class="txto">
            <h3 class="colorH3_white">Olá, eu sou Erivelton Magalhães</h3>
            <span>Tenho 32 anos e sou</span>
            <p class="mudarCor_Texto"> Desenvolvedor Full Stack e designer UX/UI com 2 anos de experiência em
                desenvolvimento web, apaixonado
                por criar soluções inovadoras e eficientes.</p>
        </div>
        <!-- Butoes e icons -->
        <div class="info_btn">
            <div class="btn_whats">
                <button>Saiba mais <i class="bi bi-arrow-right"></i></button>
            </div>
            <div class="info_icons">
                <a href="https://www.linkedin.com/in/erivelton-magalh%C3%A3es-553a6b215/" alte="botao do linkedin"
                    class="mudarCor_Icon"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/EriveltonMGit/EriveltonMGit" alte="botao do Git Hub"
                    class="mudarCor_Icon"><i class="bi bi-github"></i></a>
                <a href="" alte="botao do Discord" class="mudarCor_Icon"><i class="bi bi-discord"></i></a>
                <a href="https://wa.me/61981579569?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20com%20voc%C3%AA%20e%20saber%20mais%20detalhes%20sobre%20como%20funciona%20cada%20etapa%20do%20desenvolvimento."
                    alte="botao do Whatsapp" class="mudarCor_Icon"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </div>


    <!-- IMAGEM DA PAGINA - CARD 2 -->
    <div class="info_img borda">
        
        <img src="assets/img/section_1/capa.png" alt="">
        <a href="https://web-desing-page.netlify.app/">Conheça meu mais novo projeto <i class="bi bi-caret-right"></i></a>
    </div>



    <!-- IMAGENS FLUTUANTES -->
    <div class="info_img_flutuante">
        <img src="assets/img/section_1/grid_linha.png" alt="">

    </div>
     <!-- IMG DISCORD -->
    <div class="info_seta_flutuante">
        <!-- <img src="assets/img/icons/cursor.png" alt=""> -->
        <img src="assets/img/section_1/img_discord.png" alt="">

    </div>



</section>