


<!-- FOOTER -->

<section id="contato">

    

    <footer class="footer text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <!-- SOBRE -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Sobre</h5>
                    <p class="text-uppercase_p">
                        Forneço serviços de qualidade com dedicação e compromisso. Minha missão é garantir a
                        satisfação do cliente em todas as etapas.
                    </p>
                </div>
    
                <!-- SERVIÇOS -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Serviços</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="icon-text"><i class="fas fa-cogs"></i><a href="#!" class="text-reset">Consultoria</a></li>
                        <li class="icon-text"><i class="fas fa-laptop-code"></i><a href="#!" class="text-reset">Desenvolvimento</a></li>
                        <li class="icon-text"><i class="fas fa-headset"></i><a href="#!" class="text-reset">Suporte</a></li>
                        <li class="icon-text"><i class="fas fa-chalkboard-teacher"></i><a href="#!" class="text-reset">Treinamento</a></li>
                    </ul>
                </div>
    
                <!-- CONTATO -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contato</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="icon-text"><i class="fas fa-envelope"></i><a href="#" class="text-reset">Email: Acesse</a></li>
                        <li class="icon-text"><i class="fas fa-phone"></i><a href="#!" class="text-reset">Telefone: (61) 98157-9569</a></li>
                        <li class="icon-text"><i class="fas fa-map-marker-alt"></i><a href="https://maps.app.goo.gl/Fy5hP6F9agGcPBGW9" class="text-reset">Endereço: DF - Brasília</a></li>
                    </ul>
                </div>
    
                <!-- REDES SOCIAIS -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase">Redes Sociais</h5>
                    <div class="social-icons">
                        <a href="https://wa.me/5561981579569" class="text-reset"><i class="fab fa-whatsapp"></i></a>
                        <a href="#!" class="text-reset"><i class="fab fa-twitter"></i></a>
                        <a href="#!" class="text-reset"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/erivelton-magalhães-553a6b215/" class="text-reset"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <img id="qr_code_mentoria" src="assets/img/section_1/qrcode_mentoria.jpg" alt="QR Code Mentoria">
                </div>
            </div>
        </div>
    </footer>
    
    <div class="text-center p-3 copy" id="copyright">
        © 2024 Todos direitos reservados
        <a class="text-reset fw-bold" href="#home">
            <img src="assets/imagem/logo.png" alt="Logo">
        </a>
    </div>
    


</section>