<!-- MINHA JORNADA -->

<section id="minha_jornada">

    <!-- IMG BK LINHAS-->
    <div class="img_bk_roxo">
        <img src="assets/img/section_1/grid_linha.png" alt="">

    </div>

    <!-- GOSTOS PESSOAIS -->
    <div class="gostos">
        <h3 class="titulo_gostos">
            GOSTOS PESSOAIS
            <i class="bi bi-file-person-fill"></i>
        </h3>
        <!-- descrição gostos -->
        <div class="descricao_gostos">
            <p>Gosto de explorar o mundo, seja mergulhando nas linhas de código ou nas culturas ao redor do Brasil. O
                desenvolvimento para mim é uma viagem contínua, na qual cada projeto é uma nova paisagem a ser
                descoberta. Viajar me inspira, trazendo novas ideias e perspectivas que aplico em minhas criações
                digitais. Assim como gosto de desbravar novos lugares, adoro desvendar a complexidade por trás de
                soluções inovadoras e intuitivas</p>
        </div>
    </div>

    <!-- Motivações -->
    <div class="motivacoes">
        <h3 class="titulo_motivacoes">
            MOTIVAÇÕES
            <i class="bi bi-emoji-sunglasses"></i>
        </h3>
        <!-- descrição motivacoes -->
        <div class="descricao_motivacoes">
            <p>Minha motivação para participar da comunidade <span>Codigo Certo Coders</span> nasce da minha paixão por
                evolução constante. Vejo o código como uma ferramenta poderosa para transformar ideias em realidades
                impactantes, e sei que, dentro de uma comunidade colaborativa, posso aprender ainda mais e compartilhar
                conhecimento. Além disso, acredito que trabalhar em equipe e trocar experiências pode levar a resultados
                ainda mais surpreendentes, tanto no mundo do desenvolvimento quanto na vida.</p>
        </div>
    </div>

</section>