// MINHA JORNADA SECTION 3
#minha_jornada {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

// IMG DISCORD
.img_bk_roxo {
    width: 50%;
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 5vw;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
   

}

// IMG LINHAS 
.img_bk_roxo img {
    width: 40vw;
    rotate: 50deg;
    object-fit: cover;
    filter: blur(2px);
}


// GOSTOS CARD
.gostos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    z-index: 2;
}

// titulo_gostos
.titulo_gostos {
    width: 100%;
    height: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Purista;
    color: var(--bs-dark-2);
    font-size: 2.8vw;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.274);

}

// descricao_gostos
.descricao_gostos {
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--bs-gray-600);
    font-family: SpaceGrotesk-VariableFont;
    font-size: 1.7vw;
    border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.274);
  

}
.gostos .bi{
   color: var(--bs-red);
   
}

// MOTIVAÇÕES CARD
.motivacoes {
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-direction: column;

}


// titulo_gostos
.titulo_motivacoes {
    width: 100%;
    height: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Purista;
    color: var(--bs-dark-2);
    font-size: 2.8vw;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.274);


}

// descricao_gostos
.descricao_motivacoes {
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: space-around;
    color: var(--bs-gray-600);
    font-family: SpaceGrotesk-VariableFont;
    font-size: 1.7vw;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 0px 0px 10px 10px;
}

.descricao_motivacoes span {
  
    font-size: 2vw;
    font-weight: bolder;
    color: var(--bs-gray-600);
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #ffffff; 
}

.motivacoes .bi{
    color: var(--bs-red);
}








// MIDAI SCREEN 480PX

@media screen and (max-width:480px) {
    // MINHA JORNADA SECTION 3
#minha_jornada {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    margin-top: 5vh;
}

// IMG DISCORD
.img_bk_roxo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 5vw;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
   

}

// IMG LINHAS 
.img_bk_roxo img {
    width: 50vw;
    rotate: 50deg;
    object-fit: cover;
    filter: blur(2px);
}


// GOSTOS CARD
.gostos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    z-index: 2;
}

// titulo_gostos
.titulo_gostos {
    width: 100%;
    height: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Purista;
    color: var(--bs-dark-2);
    font-size: 8vw;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.274);

}

// descricao_gostos
.descricao_gostos {
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--bs-gray-600);
    font-family: SpaceGrotesk-VariableFont;
    font-size: 4.5vw;
    border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.274);
  

}
.gostos .bi{
   color: var(--bs-dark-2);
   
}

// MOTIVAÇÕES CARD
.motivacoes {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-direction: column;

}


// titulo_gostos
.titulo_motivacoes {
    width: 100%;
    height: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Purista;
    color: var(--bs-dark-2);
    font-size: 8vw;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.274);


}

// descricao_gostos
.descricao_motivacoes {
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: space-around;
    color: var(--bs-gray-600);
    font-family: SpaceGrotesk-VariableFont;
    font-size: 4vw;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 0px 0px 10px 10px;
}

.descricao_motivacoes span {
  
    font-size: 3.5vw;
    font-weight: bolder;
    color: var(--bs-gray-600);
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #ffffff; 
     font-family: SpaceGrotesk-VariableFont;
}

.motivacoes .bi{
    color: var(--bs-dark-2);
}
}