<!-- SECTION 2 -->
<section id="sobre">

    <!-- DESCRIÇÃO SOBRE  -->
    <div class="descricao">

        <div class="text_titulo">
            <h3 class="colorH3_white">Sobre</h3> <span class="status-icon"></span>
        </div>

        <!--  -->
        <div class="text_desc_1">
            <p>Sou Erivelton Magalhães, formado em Análise e Desenvolvimento de Sistemas, desenvolvedor Full Stack e designer UX/UI com dois anos de
                experiência no desenvolvimento web. Minha jornada no mundo da tecnologia começou com uma profunda
                curiosidade e um desejo de transformar ideias em soluções práticas e eficientes.</p>
                <div class="desenvolvimentos">
                    <a href="https://github.com/EriveltonMGit/EriveltonMGit">Desenvolvimentos <i class="bi bi-braces"></i></a>
                </div>
        </div>



        <!-- OBJETIVOS DE CARRERIA -->

        <!-- TITULO DOS OBJETIVOS -->
        <div class="obj_text">
            <h3 class="colorH3_white">Objetivos de Carreira</h3><span class="status-icon"></span>
        </div>
        <!-- DESCRIÇÃO DOS OBJETIVOS -->
        <div class="obj_desc_1">
            <p>Meu principal objetivo é continuar evoluindo profissionalmente, enfrentando novos desafios e
                expandindo
                minhas habilidades em tecnologias emergentes. Estou comprometido em criar experiências de usuário
                excepcionais e soluções de software inovadoras que atendam às necessidades dos usuários e às
                demandas do
                mercado.</p>
        </div>


        <!-- ÁREAS DE INTERESSE -->
        <div class="inte_text">
            <h3 class="colorH3_white">Áreas de Interesse  </h3> <span class="status-icon"></span>
        </div>
        <div class="inte_desc_1">
            <p>Desenvolvimento Web: Criar interfaces intuitivas e responsivas, bem como desenvolver backends robustos e escaláveis. A diversidade de tecnologias e a chance de atuar em diversas camadas de um projeto são o que mais me fascinam.</p>
            <p>Design UX/UI: Acredito que a experiência do usuário é fundamental para o sucesso de qualquer produto
                digital. Meu foco está em criar designs que não apenas sejam esteticamente agradáveis, mas também
                funcionais e centrados no usuário.</p>
            <p>Inovação e Soluções Criativas: Estou sempre em busca de novas formas de resolver problemas e otimizar
                processos. A inovação é a força motriz por trás de muitas das minhas abordagens e soluções.</p>
        </div>





    </div>




    <!-- DIV FLUTUANTE -->

    <div class="desc_flutuante">
        <!-- div flutuante -->
        <div class="flut">
            <div class="perfil_descricao">
                <div class="img_perfil">
                   <img src="assets/img/section_1/img_perfil.png" alt="">
                </div>
                <div class="text_perfil">
                    <h3 class="colorH3_white" >Erivelton Magalhães</h3>
                    <p > Desenvolvedor Full Stack e designer UX/UI.</p>
                   
            
                </div>
            
              </div>
            
              <!-- CONATATO -->
               <div class="perfil_contato" >
            
                <div class="btn_perfil">
                    <a href="https://wa.me/61981579569?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20com%20voc%C3%AA%20e%20saber%20mais%20detalhes%20sobre%20como%20funciona%20cada%20etapa%20do%20desenvolvimento."><i class="bi bi-telephone-forward"></i>Agende</a>
                    <a href="mailto:eriveltonmagalhaesdossantos@gmail.com?subject=Serviços de Desenvolvimento - Digital Dream.&body="><i class="bi bi-envelope-at-fill"></i>E-mail</a>
            
                </div>
                <!-- icons perfil -->
                <div class="icons_perfil">
                   <div>
                    <a href=""><i  class="bi bi-facebook pColor"></i></a>
                    <a href="https://www.linkedin.com/in/erivelton-magalhães-553a6b215"><i class="bi bi-linkedin pColor"></i></a>
                    <a href="https://github.com/EriveltonMGit/EriveltonMGit"><i class="bi bi-github pColor"></i></a>
                    <a href="https://wa.me/61981579569?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20com%20voc%C3%AA%20e%20saber%20mais%20detalhes%20sobre%20como%20funciona%20cada%20etapa%20do%20desenvolvimento."><i class="bi bi-whatsapp pColor"></i></a>
                   </div>
            
                </div>
            
               </div>

        </div>

    </div>



</section>