<!-- NAV BAR -->
<header id="nav_bar" class="mudarCor">
  <!--LOGO -->
  <div id="logo">
    <div id="a_nav_logo">
      <i class="bi bi-grid-1x2-fill"></i>
     <img src="assets/img/section_1/logo_2.png" alt="">
    </div>
  </div>

  <!-- NAV ul -->

  <ul id="ul_nav">

    <li><a onclick="home()" class="a_nav" href="#home"><i class="bi bi-house"></i>Início</a></li>
    <li><a onclick="sobre()" class="a_nav" href="#sobre"><i class="bi bi-file-person"></i>Sobre</a></li>
    <li><a class="a_nav" href="#minha_jornada"> <i class="bi bi-chat-right-heart-fill"></i>Paixões</a></li>
    <li><a onclick="portfolio()" class="a_nav" href="#"> <i class="bi bi-files"></i>Portifólio</a></li>
    <li><a class="a_nav" href="https://web-desing-page.netlify.app/"><i class="bi bi-substack"></i>Site</a></li>
    <li><a class="a_nav" href="#contato"> <i class="bi bi-chat-square-text"></i>Contato</a></li>



  </ul>
  <!-- vamos conversar -->
  <div id="vamos_conversar">
    <button onclick="mudarCorBody()">
      <i id="lua" class="bi bi-moon-stars-fill"></i>
      <i id="sol" class="bi bi-sun-fill" style="display: none;"></i>

    </button>

    <button onclick="abriChat()">Vamos Conversar <i class="bi bi-caret-right"></i></button>

  </div>




   <!-- NAV DEVICE -->
   <nav id="nav_device" >
    <div class="logo_devide efeitoColor_Bar">
      <!-- <i class="bi bi-grid-1x2-fill"></i>
      <h5>E Magalhães</h5> -->

    </div>
    <button id="btn_menu" onclick="abrirMenu()">
        <div id="linha_1" class="linha"></div>
        <div id="linha_2" class="linha"></div>
        <div id="linha_3" class="linha"></div>


    </button>


</nav>

<div id="menu">

  <ul>
      <li><a href="#home">HOME</a></li>
      <li><a href="#quem_somos">QUEM SOMOS</a></li>
      <li><a href="#portifolio">PORTIFÓLIO</a></li>
      <li><a href="#nossos_valores">NOSSOS VALORES</a></li>
      <li><a href="#perguntas">PERGUNTAS</a></li>
      <li><a onclick="mentoriaMensagem()" href="#Mentoria">MENTORIA</a></li>
      <li><a href="#contato">CONTATO</a></li>
      <!-- <li><a href="#Sobre">SOBRE MIM</a></li> -->
  </ul>



</div>




</header>